# Prediction API access
PREDICTION_SERVER="https://YOUR_PREDICTION_SERVER"
API_KEY="YOUR_API_KEY"
DATAROBOT_KEY="YOUR_DATAROBOT_KEY"

# Deployed models
DEPLOYMENT_00_XSMALL="YOUR_DEPLOYMENT_ID"
DEPLOYMENT_01_SMALL="YOUR_DEPLOYMENT_ID"
DEPLOYMENT_02_MEDIUM="YOUR_DEPLOYMENT_ID"
DEPLOYMENT_03_LARGE="YOUR_DEPLOYMENT_ID"
DEPLOYMENT_04_XLARGE="YOUR_DEPLOYMENT_ID"